.form-control {
  margin: 0.5rem 0;
  color: #000000;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.form-control label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
}

.form-control input {
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  font: inherit;
  line-height: 1.5rem;
  padding: 0 0.25rem;
  background-color: #fcfcfc;
}

.form-control input:focus {
  outline: none;
  background: #fad0ec;
  border-color: #540088;
  border-style:groove;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
